.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  background: var(--color-bg-header);
}

.footer__inner {
  max-width: var(--layout-max-width);
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 var(--layout-padding);
}

.footer__text {
  color: var(--color-text-lighter);
  font-size: 13px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .footer__inner {
    justify-content: center;
    padding: 0 var(--layout-padding-mobile);
  }
}
