.products-page {
  min-height: 100vh;
  padding-bottom: 40px;
  background: #ffffff;

  @media (max-width: 767px) {
    min-height: calc(100vh - 88px);
    background: transparent;
  }
}

.products-page__container {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 0 var(--layout-padding) 0;

  @media (max-width: 767px) {
    padding: 0 10px 0;
    margin-top: -48px;
    background: #ffffff;
    background-clip: content-box; 
  }
}

.products-page__section {
  margin-top: 20px;

  @media (max-width: 767px) {
    margin-top: 16px;
    margin-bottom: 0;
  }
}
